.banner {
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  align-items: center;
}

.banner-content {
  color: white;
  padding: 0 150px;
  margin: 0 auto;
}

.banner-content h1 {
  font-size: 45px;
  margin: 0;
}

.banner-content p {
  font-size: 25px;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 40px;
}

.btn-apply {
  font-weight: bold;
  padding: 10px 20px;
  background-color: hotpink;
  color: white;
  border-radius: 25px;
}
